body {
    background-color: powderblue;
    font-family: "Arial", Times, serif;
  }
h1 {
    color: powderblue;
    background-color: white;
    text-align: center;
    font-family: "Arial", Times, serif;
  }
p {
    background-color: white;
    color: powderblue;
    font-family: "Arial", Times, serif;
    text-align: center;
  }
ul {
    
    background-color: white;
    color: powderblue;
    font-family: "Arial", Times, serif;
    text-align: center;
    list-style-position: inside;

  }
a {
    color: inherit;
    text-decoration: inherit;
  }